.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.left-div {
  width: 15%;
  height: 100%;
  background-image: linear-gradient(180deg, #000000 0%, rgba(15, 13, 15, 0.65) 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 25px 0px 45px 0px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .left-div-span {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10vh 2vw;

    span {
      color: white;
      font-size: 20px;
    }

    span:nth-of-type(1) {

      text-align: center;
      margin-bottom: 2vh;
    }

    span:nth-of-type(2) {

      text-align: left;
      margin-bottom: 2vh;
    }
  }

}

.right-div {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.container button {
  all: unset;
  height: 52px;
  width: 160px;
  border-radius: 6px;
  color: white;
  background-color: #F0C551;
  text-align: center;

  cursor: pointer;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;

}

.card {
  height: 220px;
  width: 120px;
}

.card:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  list-style: none;
  gap: 32px;
  width: 80%;
  height: 70%;
}

.modal-congrats {
  display: flex;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hidden {
  display: none;
}

.modal-abertura-explicacao {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;

  background-color: black;

  opacity: 0.8;

  .modal-abertura-explicacao-interno {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: grey;

    border-radius: 15px;

    height: 30vh;
    width: 30vw;

    h1 {
      color: white;
    }
  }
}
